* {
    margin: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
}

body {
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
}

a {
    text-decoration: none;
}



/* settaggio header  */

.headerformat {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
}

.headerbox {
    justify-content: space-evenly;
}

.headerbox a {
    color: black;
}

.headerbox .bgblue_button {
    font-size: 14px;
    padding: 5px 10px;
}

/* SETTAGGIO BOTTONE BLU RIUTILIZZATO */
.bgblue_button {
    background-color: #0061ff;
    color: white;
    border: none;
}

/* settaggio .row e .column DEBUG  */
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* DEBUG FINE  */

/* article sezione introduttiva */

.introd_art {
    display: flex;
    justify-content: center;
    padding: 50px 5px 10px;
}

.introd_column {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: ;
}

.introd_column h1 {
    display: flex;
    font-weight: bolder;
    font-size: 40px;
    padding-bottom: 20px;
}

.introd_row .introd_column {
    display: flex;
    justify-content: space-between;
}

.introd_column .bgblue_button {
    padding: 10px 3px;
    width: 85%;
}

.introd_column img {
    max-width: 70%;
}

.introd_row {
    display: flex;
    gap: 40px;
    flex-direction: row;
}


/* article sezione business etc.  */

.business_art {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business_art h2 {
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 40px;
}

.business_row {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.business_column {
    width: (calc(100%/3)-30px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* sezione colonna scelta business plan */
.typeofbp {
    border: solid lightgrey 1px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

.descriptionbp {
    display: flex;
    border: solid lightgrey 1px;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
}

.linegrey {
    border-top: solid 1px lightgray;
    width: 20%;
}

ul {
    list-style: none;
}

li i {
    color: #0061ff;
}

/* fine sezione colonna scelta business plan */

/* fine article sezione business etc. */


/* settaggio sections */

.sect_blue {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #b5d0e6;
}

.sect_white {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}


/* settaggio footer */

.footerformat {
    background-color: black;
    height: 200px;
    width: 100%;
}