* {
    margin: 0;
    height: auto;
    font-family: 'Open Sans';
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
}

a {
    text-decoration: none;
}



/* settaggio header  */

.headerformat {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.headerbox {
    justify-content: space-evenly;
}

.headerbox a {
    color: black;
}

.headerbox .bgblue_button {
    font-size: 14px;
    padding: 5px 10px;
}

/* SETTAGGIO BOTTONE BLU RIUTILIZZATO */
.bgblue_button {
    background-color: #0061ff;
    color: white;
    border: none;
}

/* settaggio row e column funzioni flex */
.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/* article sezione introduttiva */
.introduction .column {
    justify-content: center;
}

/* settaggio sections */

.sect {
    width: 100vw;
}

#blue,
.sect {
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: #b5d0e6;
}

#white,
.sect {
    background-color: white;
}


/* settaggio footer */

.footerformat {
    background-color: black;
    height: 200px;
    width: 100vw;
}